body {
    background-image: linear-gradient(to right, rgba(255,255,255,.5), rgb(238, 130, 238,.8));
    text-align: center;   
  }
  
  header {
    border: 2px solid;
    border-radius: 900px;
    background-color: pink;
    margin: 30px 425px 0px 425px;
  }
  
  #nav-bar {
    text-align: center;
    text-decoration: none;
    display: inline;
    margin: 0;
  }
  
  ul {
    list-style: none;
    text-decoration: none;
  }
  
  a { 
      text-decoration: none;
      font-weight: bold;
      color: #BD767E;
      font-size: 25px;
  }
  
  a:hover { 
      color: black;
  }
  
  li {
    display: inline;
    margin: 0px 40px 0px 0px;
  }
  
  #footer { 
    text-shadow: 0px 0px 0px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin: 0px 0px 0px 0px;
  }
  
  .button {
    padding: 0px 10px 0px 10px;
    height: 40px;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 9px;
    background: transparent;
    cursor: pointer;
  }
  
  input[type=text] {
    border: 2px solid;
    border-radius: 5px;
    margin: 15px 0px 15px 0px;
    width: 17%;
    height: 40px;
  }
  
  #pricing {
    margin: 75px 125px 75px 125px;
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
  }
  
  .ipads {
    padding: 70px 40px 100px 40px;
    margin: 0px 60px 0px 60px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
    background-color: pink;
    
  }
  
  iframe {
    margin: 100px 0px 150px 0px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
  }
  
  #features {
    padding: 70px 20px 70px 20px;
    margin: 150px 200px 150px 200px;
    border: 2px solid;
    border-radius: 400px;
    box-shadow: 0 0 20px #000000;
  }
  
  .para {
    margin: 0px 200px 50px 200px;
    padding: 0px px 0px 0px; 
  }
  
  #h21 {
    margin: 100px 0px 100px 0px;
    padding: 0px 0px 0px 0px; 
    font-size: 25px;
  }
  #submit-button {
    border: 2px solid;
    border-radius: 15px;
    background-color: pink;
    padding: 0px 10px 0px 10px; 
    height: 40px;
    font-size: 15px;
    font-weight: 900;
    
  }
  
  .label {
    font-size: 20px;
    font-weight: 900; 
  }
  
  ::placeholder { 
    color: black;
    text-align: center;
  }
  
  /* Media Queries: Tabled Portrait (more phone screens) - for header*/
  @media screen and (max-width: 600px) {
    header {
    border: 2px solid;
    border-radius: 35px;
    background-color: pink;
    margin: 30px 70px 0px 70px;  
  }  

    #nav-bar-phone {
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;      
    }
    
    li {
      padding: 8px 0px 8px 0px;
    }
    
     .nav-link {
       font-size: 20px; 
    }
    
    #h21 {
    margin: 100px 0px 75px 0px;
    padding: 0px 0px 0px 0px; 
    font-size: 25px;
  }
  
  input[type=text] {
    border: 2px solid;
    border-radius: 10px;
    margin: 15px 0px 15px 0px;
     width: 40%;
    height: 40px;
    padding: 10px 30px 10px 30px;
  }
    
  #features {
    padding: 30px 0px 30px 0px;
    margin: 125px 10px 125px 10px;
    border: 2px solid;
    border-radius: 100px;
    box-shadow: 0 0 20px #000000;
  }  
      
  .para {
    margin: 0px 30px 40px 30px;
    padding: 0px 0px 10px 0px;
  }   
    
    iframe {
    margin: 75px 0px 75px 0px;
    width: 90%;
    height: 275px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
  }
      
  #pricing {
    margin: 75px 0px 75px 0px;
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .ipads {
    padding: 70px 40px 100px 40px;
    margin: 40px 30px 40px 30px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
    background-color: pink;
  }    
      
  #footer {
  font-size: 15px;
  }
  }

  @media screen and (min-width: 600px) {
   header {
    border: 2px solid;
    border-radius: 50px;
    background-color: pink;
    margin: 30px 50px 0px 50px;
  }  

    #nav-bar-phone {
    text-align: center;
    text-decoration: none;
    margin: 0;
    font-size: 5px;
    margin: 20px 0px 20px 0px;      
    }

    #h21 {
    margin: 100px 0px 75px 0px;
    padding: 0px 0px 0px 0px; 
    font-size: 25px;
  }
  
  input[type=text] {
    border: 2px solid;
    border-radius: 10px;
    margin: 15px 0px 15px 0px;
    width: 40%;
    height: 40px;
    padding: 10px 30px 10px 30px;
  }
    
  #features {
    padding: 30px 0px 30px 0px;
    margin: 125px 100px 125px 100px;
    border: 2px solid;
    border-radius: 100px;
    box-shadow: 0 0 20px #000000;
  }  
      
  .para {
    margin: 0px 20px 40px 20px;
    padding: 0px 70px 10px 70px;
  }   
    
    iframe {
    margin: 75px 0px 75px 0px;
    width: 60%;
    height: 300px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
  }
      
  #pricing {
    margin: 75px 0px 75px 0px;
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .ipads {
    padding: 30px 25px 30px 25px;
    margin: 40px 15px 40px 15px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
    background-color: pink;
  } 
  }
  
  @media screen and (min-width: 1300px) {
    header {
    border: 2px solid;
    border-radius: 900px;
    background-color: pink;
    margin: 30px 425px 0px 425px;
    
  }
  
  #nav-bar {
    text-align: center;
    text-decoration: none;
    display: inline;
    margin: 0; 
  }
  
  ul {
    list-style: none;
    text-decoration: none;
  }
  
  a { text-decoration: none;
      font-weight: bold;
      color: #BD767E;
      font-size: 25px;
  }
  
  a:hover { 
      color: black;
  }
  
  li {
    display: inline;
    margin: 0px 40px 0px 0px;
  }
  
  #footer { 
    text-shadow: 0px 0px 0px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin: 0px 0px 0px 0px;
  }
  
  .button {
    padding: 0px 10px 0px 10px;
    height: 40px;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 9px;
    background: transparent;
    cursor: pointer;
  }
  
  input[type=text] {
    border: 2px solid;
    border-radius: 5px;
    margin: 15px 0px 15px 0px;
    width: 17%;
    height: 40px;
  }
  
  
  #pricing {
    margin: 75px 125px 75px 125px;
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
  }
  
  .ipads {
    padding: 70px 40px 100px 40px;
    margin: 0px 60px 0px 60px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
    background-color: pink;
    
  }
  
  iframe {
    margin: 100px 0px 150px 0px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
    width: 40%;
  }
  
  #features {
    padding: 70px 20px 70px 20px;
    margin: 150px 200px 150px 200px;
    border: 2px solid;
    border-radius: 200px;
    box-shadow: 0 0 20px #000000;
  }
  
  .para {
    margin: 0px 200px 50px 200px;
    padding: 0px px 0px 0px; 
  }
  
  #h21 {
    margin: 100px 0px 100px 0px;
    padding: 0px 0px 0px 0px; 
    font-size: 25px;
  }
  #submit-button {
    border: 2px solid;
    border-radius: 15px;
    background-color: pink;
    padding: 0px 10px 0px 10px; 
    height: 40px;
    font-size: 15px;
    font-weight: 900;
    
  }
  
  .label {
    font-size: 20px;
    font-weight: 900; 
  }
  
  ::placeholder { 
    color: black;
    text-align: center;
  }
  }
  
  
  